[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
[submodule "third/inih"]
	path = third/inih
	url = https://github.com/benhoyt/inih.git
[submodule "test/gtest-mpi-listener"]
	path = test/gtest-mpi-listener
	url = https://github.com/cselab/gtest-mpi-listener.git
